*{
    -webkit-box-sizing: none; 
    -moz-box-sizing: none;
    box-sizing: none;
}
#main-header{
	background-image:url('Images/topic.jpg');
	color:black;
}

#navbar{
	background-image:url('Images/nvbar.jpg');
}

#logout{
	float:right;
}
#dippic{
	width: 90%;
    min-width: 200px;
    height: 200px;
    border: 3px black solid;
    border-radius: 10px;
    margin: 15px auto;
}
#dippic:hover{
	cursor: pointer;
}
.titletext{

	width: 35%;
	padding:5px 3px;
	border:3px solid black;
	box-shadow:2px 5px 7px 0 #333; 
	border-radius: 10px;
	margin:20px auto;
	background-color: maroon;
    color: white;
	font-family: "Titan One";
	text-align: center;	
	overflow: hidden;
	
}
.bodytext{
	font-size: 23px;
}
#top{
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 100;
	background-color: rgba(199, 196, 196, 0.7);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
	display: flex;
	flex-direction: column;
	text-align: center;
	border: 5px black solid;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	margin: 5px 0;
	background-color: antiquewhite;
}

#dispFull {
	border-radius: 15px;
	background-color:skyblue;
	border: 10px black solid;
	width: 90%;
	height: 80%;
	overflow: auto;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
	font-family: 'Catamaran';
}
#dispFull h3{
	display: inline-flex;
	padding: 10px;
	margin: 10px;
	font-family: Corben;
	font-size: 40px;
}
#courseDet{
	width: 95%;
	margin: 20px auto;
	text-align: center;
	border: 3px black solid;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
	background-color: white;
	font-size: 20px;
}

#card3{
	margin-bottom: 50px;
}
#courseHead{
	border: none;
	border-bottom: 3px black solid;
	background-color: black;
	color: white;
}
#courseDet th{
	text-align: center;
	vertical-align: middle;
}
#closebtn{
	border: 3px black solid;
	background-color: red;
	color: white;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.8);
	font-size: 20px;
  	font-weight: 900;
}

tbody tr:hover{
	cursor: pointer;
}

form{
	margin-bottom: 0px;
}
input#submit{
    background:none;
  	border:none;
 	color:white;
    cursor: pointer;
	outline: none;
	margin: none;
	padding: none;
	border-radius: 5px;
}
input#submit:hover{
    background-color:rgba(255,255 ,255 , 0.8);
  	border:none;
 	color:black;
    cursor: pointer;
	outline: none;
	border-radius: 5px;
	transition-duration: .2s;

}
.content{
	background-image: url('Images/body.jpg');
	background-size: cover;
	background-repeat: round;
	overflow: hidden;
	text-align: center;
}

.queryDetails{
	width:40%;
	min-width: 300px;

	background-color: rgb(245, 255, 151);
	margin: 45px auto 45px auto;
	font-family: 'Monda';
	font-weight: bold;
	overflow: hidden;
	text-align: center;
	border: 3px black solid;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 4px 7px 20px black;
}

.content input[type="text"], input[type="date"]{
	padding: 5px;
	width: 90%;
	border: 2px rgb(104, 103, 103) solid;
	border-radius: 7px;
    outline: none;
    margin: 5px;
    transition-duration: 0.3s;
}


.content input[type="text"]:focus, input[type="date"]:focus{
	border: 3px rgb(245, 6, 6) solid;
	box-shadow:0 0 10px 0px rgb(245, 6, 6);
	transition-duration: 0.3s; 
    margin: 5px;    
}
option{
	font-style: normal;
}
.dip{
	width: 65%;
	min-width: 250px;
	margin: 2px auto 2px auto;
}
.submitbutton, #resetbtn{
	margin-bottom: 20px;
}

.submitbutton button, #resetbtn{
	background-color: black;
	color: white;
	font-size: 20px;
	border-radius: 15px;
	width:100px;
	outline: none;
	font-family: 'Paytone One', sans-serif;
	padding: 3px;
	cursor: pointer;
}
#main-footer{
    position: relative;
}
::-webkit-scrollbar { 
    display: none; 
}
select{
	display: block;
	width: 90%;
	border-radius: 7px;
	font-family: 'Monda';
	outline: none;
	border: 3px rgb(104, 103, 103) solid;
	margin: 10px auto;
	padding: 5px; 
	text-align: center;
	
}

#querySelect{
	width: 100%;
}

select:focus{
	border: 3px rgb(245, 6, 6) solid;
	box-shadow:0 0 10px 0px rgb(245, 6, 6);
	transition-duration: 0.3s;
}
#displayUsers{
	width:80%;
	min-width: 300px;

	background-color: rgb(179, 253, 243);
	margin: 25px auto;
	font-family: 'Monda';
	font-weight: bold;
	overflow: hidden;
	text-align: center;
	border: 3px black solid;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 4px 7px 20px black;
}
@media screen and (min-width: 801px) {
	li, li a{
		  font-size: x-large;
	}
	.bodytext{
		display: grid;
		min-height: 600px;
	}
.titletext{
	font-size: 25px;
	min-width: 200px;
}
}	
	@media screen and (max-width: 800px) {
		li, li a{
			font-size: large;
		}
		.table{
			display: block;
		}
		.titletext{
			font-size: 25px;
			min-width: 150px;
		}
		#dippic{
			width: 80%;
			min-width: 160px;
		}
	#courseDet{
		font-size: 15px;
	}
	.bodytext{
		font-size: 20px;
	}
	#dispFull h3{
		font-size: 22px;
	}
	}
