#main-header{
	background-image:url('Images/topic.jpg');
	color: black;
}

#navbar{
	background-image:url('Images/nvbar.jpg');
	background-size: cover;
}
form{
	margin-bottom: 0;
}
#logout{
	float:right;
}
.content{
	background-image: url('Images/body.jpg');
	background-size: contain;
	background-repeat: round;
	overflow: hidden;
	text-align: center;
}

input#submit{
    background:none;
  	border:none;
 	color:white;
    cursor: pointer;
	outline: none;
	margin: none;
	padding: none;
	border-radius: 5px;
}

input#submit:hover{
    background-color:rgba(255,255 ,255 , 0.8);
  	border:none;
 	color:black;
    cursor: pointer;
	outline: none;
	border-radius: 5px;
	transition-duration: .2s;
}

.content input[type="text"], input[type="date"]{
	padding: 5px;
	width: 100%;
	border: 2px rgb(104, 103, 103) solid;
	border-radius: 7px;
	outline: none;
	margin-top: 5px;
	margin-bottom: 5px;
	transition-duration: 0.3s;
}

.content input[type="text"]:focus, input[type="date"]:focus{
	border: 3px rgb(245, 6, 6) solid;
	box-shadow:0 0 10px 0px rgb(245, 6, 6);
	transition-duration: 0.3s; 
}

input[type="radio"]{
	width: auto;
}

.personalDetails, .medicalDetails, .railwaysDetails{
	width:40%;
	min-width: 300px;
	background-color: rgb(245, 255, 151);
	margin: 45px auto 45px auto;
	font-family: 'Monda';
	font-weight: bold;
	overflow: hidden;
	text-align: center;
	border: 3px black solid;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 4px 7px 20px black;
}

.personalDetails{
	background-image: url("Images/dl1.jpg");
}

.railwaysDetails{
	background-image: url("Images/dl2.jpg");
	background-size: cover;
	background-repeat: space;
}

.medicalDetails{
	/*
	background-image: url('Images/dl3.jpg');
	background-size: cover;
	background-repeat: space;*/
	background-color: cornflowerblue;
}
h2{
	width: 35%;
	min-width: 200px;
	padding:5px 3px;
	border:3px solid black;
	box-shadow:2px 5px 7px 0 #333; 
	border-radius: 10px;
	margin:2% auto 2% auto;
	background-color: honeydew;
	font-family: "Alfa Slab One";
	text-align: center;	
	overflow: hidden;

}
.dip{
	width: 65%;
	margin: 2px auto 2px auto;
}

.submitbutton{
	margin: 15px auto;
}

.chkbox{
	display: inline-flex;
	width: 100%;

}

.chkbox input[type="checkbox"]{
	width: 50px;
	margin: auto 2px auto 2px;
}

.chkbox input[type="text"]{
	margin: 5px 20px 5px 20px;
	transition-duration: 0.3s;
}

.chkbox h5{
	margin: 10px 3px 10px 3px;
	text-align: center;
	width: 120px;
	transition-duration: 0.3s;
	font-size: medium;
}

select{
	display: block;
	width: 100%;
	border-radius: 7px;
	font-family: 'Monda';
	outline: none;
	border: 2px rgb(104, 103, 103) solid;
	margin: 10px 0;
	padding: 5px; 
	text-align: center;
	
}
select:focus{
	border: 3px rgb(245, 6, 6) solid;
	box-shadow:0 0 10px 0px rgb(245, 6, 6);
	transition-duration: 0.3s;
}

#remarks{
	border-radius: 10px;
	border: 2px black solid;
}

.submitbutton button[type='submit']{
	background-color: black;
	color: white;
	font-size: 20px;
	border-radius: 15px;
	width:100px;
	outline: none;
	font-family: 'Paytone One', sans-serif;
	padding: 3px;
	cursor: pointer;

}


@media screen and (min-width: 601px) {
	li, li a{
		  font-size: x-large;
	}


}

	
	@media screen and (max-width: 600px) {
		li, li a{
			font-size: large;
		}
	}